article,
article img {
  max-width: 600px;
  background-color: white;
  display: block;
}

article {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

h1,
.grid3 h3 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

article {
  margin: 0;
  padding: 0;
  padding-bottom: 6%;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7%;
  padding-top: 7%;
}

p {
  display: inline-block;
  margin: 0%;
}
