article,
article img {
  max-width: 600px;
  background-color: white;
  display: block;
}

article {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

h1,
.grid3 h3 {
  text-align: center;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: black;
}

/* Additional styling to remove any default styling applied by the browser */
article {
  margin: 0;
  padding: 0;
  padding-bottom: 6%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 7%;
  padding-top: 7%;
}

#soldout img {
  filter: grayscale(1);
}

#soldout {
  position: relative;
  display: inline-block;
}

#soldout img {
  width: 100%;
  height: auto;
  display: block;
}

#soldout:after {
  content: "SOLD OUT";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}

#soldout h3,
#soldout span {
  position: relative;
  z-index: 2;
}
h3 {
  font-weight: 100;
}
.brand p,
.articletype p {
  text-decoration: none;
}
#p2 {
  text-decoration: none;
  color: red;
}

p,
#p2 {
  display: inline-block;
  margin: 0%;
}

#info {
  text-decoration: none;
  line-height: 1.5;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  text-align: center;
  padding: 2%;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid black;
}

nav a {
  color: #000000;

  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: rgb(163, 163, 163); /* Change the color on hover */
}

.grid2,
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  padding-top: 7%;
  gap: 7%;
}
.grid2 img,
.grid3 img {
  max-width: 500px;
}

#product,
#produkt2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: gray; /* Button color */
  color: #fff; /* Text color */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.buy-button:hover {
  background-color: lightgray; /* Button color on hover */
}
